.boxin{
    background-color: rgba(241, 233, 233, 0.8);
    width:40%;
    height: 500px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width: 400px;
    background-size: cover;
    border-radius: 5px 5px 5px 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}